[submodule "Homecoming/Submodules/gui-framework"]
	path = Homecoming/Submodules/gui-framework
	url = https://gitlab.com/g2o/scripts/gui-framework
	branch = 0.3.0
[submodule "Homecoming/Submodules/bpackets"]
	path = Homecoming/Submodules/bpackets
	url = https://gitlab.com/bcore1/bpackets
[submodule "Homecoming/Submodules/bi18n"]
	path = Homecoming/Submodules/bi18n
	url = https://gitlab.com/bcore1/bi18n
[submodule "Homecoming/Submodules/BASSWrapper"]
	path = Homecoming/Submodules/BASSWrapper
	url = https://github.com/G2O-Script-Workshop/BASSWrapper
[submodule "Homecoming/Submodules/freecam"]
	path = Homecoming/Submodules/freecam
	url = https://gitlab.com/g2o/scripts/freecam
